<%- include("partials/header"); -%>
    <div class="Time-Table">
          <table  cellspacing="1">
              <!--<caption>Timetable</caption>-->
              <tr>
                  <th >
                      <b>Time</b></br>
                  </th>
                  <th >
                      <b>Monday</b>
                  </th>
                  <th >
                      <b>Tuesday</b>
                  </th>
                  <th >
                      <b>Wednesday</b>
                  </th>
                  <th >
                      <b>Thursday</b>
                  </th>
                  <th >
                      <b>Friday</b>
                  </th>
                  <th >
                      <b>Saturday</b>
                  </th>

              </tr>
              <tr>
                  <th class="time">
                      8:30-9:25 <br> </th>
                  <td >IS <br>(YNC)</td>
                  <td  Rowspan = "4" >B1: IOS (YNC)(LAB)
                      <br>B2: PYTHON (KCP)(LAB 1,2)</td>
                  <td Rowspan = "4">B1: PYTHON (KCP)(LAB 1,2)
                      <br>B2:  IOS (YNC)(LAB) </td>
                  <td >AWS <br>(HP)
                  </td>
                  <td >Counselling <br>(VBS,YNC)
                  </td>
                  <td >Work
                  </td>
              </tr>
              <tr>
                  <th class="time">
                      9:25-10:20 </th>
                      <td >ST/CI <br>(VBS/YNC)</td>
                      <td >IS <br>(YNC)
                      </td>
                      <td >PROJECT
                      </td>
                      <td >Work
                      </td>

              </tr>
              <tr>
                  <th class="time">
                      10:20-11:15
                  </th>
                  <td >PYTHON <br>(KCP)</td>
                      <td >IS <br>(YNC)
                      </td>
                      <td>PROJECT</td>
                      <td >Work
                      </td>

              </tr>
              <tr>
                  <th class="time">
                      11:15-12:00
                  </th>
                  <td class= "recess-color" >RECESS

                  <td  class= "recess-color" colspan = "3" >RECESS </td>
              </tr>
              <tr>
                  <th class="time">
                      12:00-12:50
                  </th>
                  <td rowspan="2">B1: AWD (HP) (L18)
                      <br>B2: IS (YNC) (L11)<br>B3: ST (VBS) (L1,2)  </td>
                      <td  class= "recess-color" >RECESS
                      <td  class= "recess-color" > RECESS
                      </td>
                      <td Rowspan = "2" >B1: IS (YNC) (L18)
                          <br>B2: CI (VBS) (L11)<br>B3: AWD (HP) (L7,8)  </td>
                          <td >PROJECT
                          </td>
                          <td >Work
                          </td>
              </tr>
              <tr>
                  <th class="time">
                      12:50-1:40
                  </th>

                      <td >PROJECT
                      </td>
                      <td >AWD <br> (HP)
                      </td>
                      <td>PROJECT</td>
                      <td >Work
                      </td>

              </tr>
              <tr>
                  <th class="time">
                      1:40-1:50
                  </th>
                  <td class= "recess-color" colspan="6"> RECESS
                  </td>
              </tr>
              <tr>
                  <th class="time">
                      1:50-2:40
                  </th>
                  <td >AWD <br> (HP)
                  </td>

                  <td Rowspan = "2" >B1: CI (VBS) (L1)
                      <br>B2: AWD (HP) (L4)<br>B3: IS (YNC) (L1,2)  </td>
                      <td >ST/CI <br>(VBS/YNC)</td>
                      <td >PYTHON <br>(KCP)</td>

                  <td >PROJECT
                  </td>
                  <td >Work
                  </td>

              </tr>
              <tr>
                  <th class="time">
                      2:40-3:30
                  </th>
                  <td >IS <br>(YNC)
                  </td>
                  <td >ST/CI <br>(VBS/YNC)</td>
                  <td >PYTHON <br>(KCP)</td>
                  <td >PROJECT
                  </td>
                  <td >Work
                  </td>
              </tr>
          </table>
    </div>
<%- include("partials/footer"); -%>
